.products-list-container {
  margin: 10px;
  border:2px solid #f0f5ff;
  border-radius:10px;
  background:#ffffff;
  margin-bottom:5px;
}

.category-title {
  padding:5px;
  text-transform: capitalize;
  font-size: 24px;
  margin-bottom: 10px;
}

.product-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

